name: Build APK

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build APK with Buildozer
        uses: ArtemisDevGroup/buildozer-action@v1
        with:
          workdir: .
          buildozer_command: buildozer android debug
