name: Build APK

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build APK using Kivy Buildozer Docker image
        run: |
          docker run --rm \
            --user 1000:1000 \
            -v ${{ github.workspace }}:/home/user/app \
            kivy/buildozer \
            buildozer android debug




      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: jacobi-apk
          path: bin/*.apk
